.form-control {
    margin-top: 7px;
}

.cor-linha {
    background-color: aqua;
}

.negrito {
    font-weight: bold;
}

.alert {
    margin-top: 7px;
}

.custom-select {
    margin-top: 9px;
}

.img-login {
    max-width:500px;
    max-height:480px;
    width: auto;
    height: auto;
}

.top-view {
    margin-top: 100px;
}

.bolacha {
    height: 80px;
    text-align: center;
    padding-top: 25px;
}

.validacao-msg {
    font-size: 12px;
}