<div class="top-view">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <h6 style="text-align: left">{{!!atendimentosAgendadosParaHoje.length ? 'Agendamentos para hoje:' : 'Nenhum agendamentos para hoje' }} </h6>
            </div>
            <div class="row justify-content-md-left">
                <ul class="list-group col-sm-10" ng-repeat="agendamento in atendimentosAgendadosParaHoje | filter:criterioDeBusca | orderBy:campoParaOrdenacao:direcaoDaOrdenacao">
                    <li class="list-group-item">
                        <small class="text-muted">Ocorrência:</small><small> {{agendamento.ocorrencia.id}}</small>
                        <hr style="margin-top: 0%;margin-bottom: 0%;">
                        <small class="text-muted">Data/hora:</small> <small>{{agendamento.dhAtendimento | date:'dd/MM/yyyy HH:mm'}}</small><br>
                        <small class="text-muted">Endereço: </small><small>{{agendamento.ocorrencia.crianca.endereco}} </small><br>
                        <small class="text-muted">Conselheira: </small><small>{{agendamento.conselheira.nome}} </small> <br> 
                        <small class="text-muted">Criança: </small><small>{{agendamento.ocorrencia.crianca.nome}}</small>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <h6 style="text-align: left">{{!!atendimentosAgendados.length ? 'Próximos agendamentos:' : 'Nenhum agendamento encontrado' }}</h6>
            </div>
            <div class="row justify-content-md-left">
                <ul class="list-group col-sm-10" ng-repeat="agendamento in atendimentosAgendados | filter:criterioDeBusca | orderBy:campoParaOrdenacao:direcaoDaOrdenacao">
                    <li class="list-group-item">
                        <small class="text-muted">Ocorrência:</small><small> {{agendamento.ocorrencia.id}}</small>
                        <hr style="margin-top: 0%;margin-bottom: 0%;">
                        <small class="text-muted">Data/hora:</small> <small>{{agendamento.dhAtendimento | date:'dd/MM/yyyy HH:mm'}}</small><br>
                        <small class="text-muted">Endereço: </small><small>{{agendamento.ocorrencia.crianca.endereco}} </small><br>
                        <small class="text-muted">Conselheira: </small><small>{{agendamento.conselheira.nome}} </small> <br> 
                        <small class="text-muted">Criança: </small><small>{{agendamento.ocorrencia.crianca.nome}}</small>
                    </li>
                </ul>
            </div>
        </div>
    </div>
      
        <!--
            <div class="col-md-6">
                <a href="#!/conselheiras" class="btn btn-outline-info btn-block btn-lg bolacha">Conselheiras</a>
                <a href="#!/criancas" class="btn btn-outline-info btn-block btn-lg bolacha">Crianças</a>
            </div>
            <div class="col-md-6">
                <a href="#!/ocorrencias" class="btn btn-outline-info btn-block btn-lg bolacha">Ocorrências</a>
                <a href="#!/atendimentos" class="btn btn-outline-info btn-block btn-lg bolacha">Atendimentos</a>
            </div>
        -->

</div>
