<div>
    <br><br>
    <div class="row">
        <div class="col-md-6">
            <a href="#!/conselheiras" class="btn btn-outline-info btn-block btn-lg">Conselheiras</a>
            <a href="#!/criancas" class="btn btn-outline-info btn-block btn-lg">Crianças</a>
        </div>
        <!-- div class="col-md-6">
            <a href="#!/usuarios" class="btn btn-outline-info btn-block btn-lg">Usuários</a>
            <a href="#!/reservas" class="btn btn-outline-info btn-block btn-lg">Reservas</a>
        </div -->
    </div>
</div>