<div class="top-view">
    <div style="margin-top: 10px; margin-bottom: 20px;">
        <h3 style="text-align: left">{{tituloApp}}</h3>
    </div>
    <div class="col-md-10">
        <div class="form-group">
            <i>Recorrências de </i>
            <select id="mes" class="custom-select col-sm-3" ng-options="mes for mes in meses" ng-model="mesSelected" ng-change="carregaIndicadoresPorRecorrencias()" style="margin-top: -2px; margin-left: 10px;"></select>
            <i>&nbsp;de</i>
            <select id="ano" class="custom-select col-sm-3" ng-options="ano for ano in anos" ng-model="anoSelected" ng-change="carregaIndicadoresPorRecorrencias()" style="margin-top: -2px; margin-left: 10px;"></select>
            <br><br>
            <canvas id="doughnut" class="chart chart-pie" chart-data="dataPie" chart-labels="labelsPie" chart-series="labelsPie" chart-colours="coloursPie"></canvas>
        </div>
    </div>
</div>